.nav{
    background-color: black !important; 
}
body{
    background-color: black !important;
}
.nav1{
    height: 30px;
    width: 100%;
    padding: 35px;
    
}
.navbar{
    font-size: 20px;
    padding: 10px;
    color: white !important;
   
}
.eimg{
    font-size: large;
    padding: 35px;
    color:black;
   

}
.eimg:hover{
    background-color: goldenrod;
}
.nav-item:hover{

  color: black;
}
.btn-secondary{
    background-color: transparent !important;
    border: 0px  !important;
    margin-top: 4px;
    font-size: 20px !important;
    font-weight: bold;
    color: black !important;
    border: 1px solid black !important;
}

.dropdown-menu{
    background-color:aqua !important;
   display: none;
   position: absolute;
   width: 500px;
   height: 400px;
   z-index: 1;
}
.dropdown-menu a:hover{
   
    color: gold;
}
.right-menu:hover .dropdown-menu{
    display: block;
}
 .nav-link{
    border: 1px solid black !important;
    border-radius: 6px;
    padding: 10px !important;
   color: black !important;
} 
.nav-link:hover{
    background-color:  gold !important;
}
.dropdown-item{
<<<<<<< HEAD
  background-color: black;
}
.btn-secondary:hover{
    background-color:  gold !important;
}
.fa-duotone{
    width: 200px !important;
    height: 200px;
=======
    color: gold;
}
.dropdown{
    border: 1px solid black;
    border-radius: 6px;
}
.dropdown:hover{
    background-color: gold;
>>>>>>> fe7856d111bf8efbe27b18c6344c96c6ca6b392a
}